* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

body {
  background: linen;
}

header {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: linen;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 30% 30% 15% 25%;
  place-items: center;
  z-index: 5;
}
header h1 {
  margin: 0;
  margin-left: 1rem;
  grid-column: 1/span 1;
  justify-self: flex-start;
  cursor: pointer;
}
header form {
  grid-column: 2/span 1;
}
header .btnBox {
  width: 100%;
  grid-column: 4/span 1;
  display: flex;
  justify-content: space-around;
}
header .btnBox button {
  padding: 0.25em 0.5em;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.background {
  position: absolute;
  top: 0;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.7);
  width: 40%;
}
.background .middle h2 {
  margin-top: 0;
}
.background .middle label {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.background .middle input {
  font-size: 1rem;
}
.background .middle input:not([type=submit]) {
  margin-bottom: 0.5rem;
  width: 90%;
  background: whitesmoke;
}

.allRestaurants {
  padding: 1rem;
}
.allRestaurants h1 {
  text-align: center;
}

.restaurantsContainer {
  display: flex;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.restaurantCard {
  background: rgba(250, 240, 230, 0);
  width: 21%;
  min-width: 200px;
  max-width: 250px;
  margin: 0.5rem 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.1s;
  border-radius: 0.5rem;
}
.restaurantCard img {
  width: 100%;
  height: 125px;
}
.restaurantCard .cardBody {
  padding: 0.25rem 0.5rem;
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
  height: 100px;
}
.restaurantCard .cardBody h3 {
  margin: 0 5%;
  text-align: center;
  width: 90%;
  border-bottom: 1px solid #003049;
  font-size: 1rem;
}
.restaurantCard .cardBody p {
  margin: 0;
  font-size: 0.8em;
}
.restaurantCard .cardBody button {
  font-size: 0.8em;
}

.restaurantCard:hover {
  transform: scale(1.05);
}

.showRestaurant {
  padding: 0 1rem;
}
.showRestaurant h1 {
  text-align: center;
}
.showRestaurant .btnBox button {
  margin: 0.5rem 0.25rem;
}
.showRestaurant .menu {
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.25em;
}
.showRestaurant .menu .menuItemContainer {
  display: flex;
  flex-wrap: wrap;
}
.showRestaurant .menu .menuItemContainer .menuItem {
  width: 48%;
  border: 1px solid #003049;
  background: #FCBF49;
  margin: 0.5%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.showRestaurant .menu h2 {
  margin: 0;
}
.showRestaurant .menu h3 {
  margin: 0;
}
.showRestaurant .menu p {
  margin-left: 1em;
}

.roundBar {
  width: 100%;
}
.roundBar input[type=text] {
  border-right: none;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 0.5em;
  background: whitesmoke;
  border-color: #cc6d09;
  width: 60% !important;
  margin-left: 10%;
}
.roundBar input[type=submit] {
  border-left: none;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 0.5em;
  background: #F77F00;
  border-color: #cc6d09;
}

button, .button {
  background: #F77F00;
  outline: none;
  border-color: #cc6d09;
  border-radius: 1em;
}

/*# sourceMappingURL=App.css.map */
